<div class="bg-[#202427] font-poppins min-h-screen flex flex-col">
  <div class="bg-opacity-50 backdrop-blur-sm rounded-lg p-6 ">
    <h2 class="text-4xl font-bold text-[#B7FA61] text-center">Bilan Éco-Jardin</h2>
    <h1 class="text-1xl font-thin text-[#B7FA61] text-center">Évaluez Votre Jardin pour un Avenir Durable !</h1>

    <!-- Section Quiz -->
    <div *ngIf="!quizCompleted" class="py-4">
      <form (ngSubmit)="submitQuiz()">
        <div class="p-3 py-1 bg-[#202427] rounded-md">
          <h2 class="p-3 text-lg font-semibold mb-2 text-white rounded">{{ questions[currentQuestionIndex].text }}</h2>
          <div *ngFor="let option of questions[currentQuestionIndex].options">
            <label class="block text-white font-poppins mb-4 p-4 border-1 border-[#B7FA61] rounded-md flex justify-between items-center">
              {{ option }}
              <input type="radio" name="question{{ currentQuestionIndex }}" [value]="option" [(ngModel)]="answers[currentQuestionIndex]" required>
            </label>
          </div>
        </div>
        <div class="flex justify-between">
          <button type="button" class="bg-[#202427] border-2 border-[#004D3D] text-[#B7FA61] px-4 py-2 rounded-full mt-2" (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">Précédent</button>
          <button type="button" class="bg-white text-[#B7FA61] px-4 py-2 rounded-full mt-2" (click)="nextQuestion()" *ngIf="currentQuestionIndex < questions.length - 1">Suivant</button>
          <button type="submit" class="bg-[#202427] text-[#B7FA61] px-4 py-2 rounded-full mt-2" *ngIf="currentQuestionIndex === questions.length - 1">Soumettre</button>
        </div>
      </form>
    </div>

    <!-- Section Résultats -->
    <div *ngIf="quizCompleted">
      <div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
          <div *ngFor="let article of displayedArticles; let i = index" class="relative">
            <div class="absolute top-2 right-2 bg-[#202427] text-[#B7FA61] rounded-full w-8 h-8 flex items-center justify-center z-10">{{ i + 1 }}</div>
            <div [ngClass]="{' bg-[#004D3D]': i % 4 === 0, ' bg-[#B7FA61]': i % 4 === 1, 'bg-green-400': i % 4 === 2, 'bg-red-200': i % 4 === 3}" class="card shadow-lg rounded-lg overflow-hidden p-4">
              <h3 class="text-xl font-semibold mb-2">{{ article.title }}</h3>
              <p class="text-white mb-4">{{ article.content }}</p>
            </div>
          </div>
        </div>
      </div>
      <button (click)="resetQuiz()" class="bg-[#004D3D] text-white px-4 py-2 rounded mt-4">Recommencer le Quiz</button>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
        <div class="p-2 mb-4">
          <h2 class="text-6xl font-thin text-white">Découvrez </h2>
          <h1 class="text-4xl font-bold text-white">Les Secrets Du jardinage !</h1>
        </div>
        <div class="relative mt-4">
          <div class="flex overflow-x-auto hide-scroll-bar space-x-4">
            <div class="flex flex-nowrap space-x-4">
              <div class="inline-block w-64 shadow-lg rounded-lg overflow-hidden relative">
                <img src="/assets/img/guide1.jpg" alt="Image 1" class="w-full h-full object-cover">
                <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 p-4">
                  <h3 class="text-xl font-semibold mb-2 text-white">Ressources Supplémentaires</h3>
                  <p class="text-gray-200 mb-4">Accédez à des ressources supplémentaires pour approfondir vos connaissances sur le jardinage durable.</p>
                  <a [routerLink]="'/guide-interactif'" class="bg-[#202427] text-[#B7FA61] px-4 py-2 rounded-full mt-2">Voir Plus</a>
                </div>
              </div>
              <div class="inline-block w-64 shadow-lg rounded-lg overflow-hidden relative">
                <img src="/assets/img/image2.jpg" alt="Image 2" class="w-full h-full object-cover">
                <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 p-4">
                  <h3 class="text-xl font-semibold mb-2 text-white">Conseils Pratiques</h3>
                  <p class="text-gray-200 mb-4">Trouvez des conseils pratiques pour améliorer l'efficacité de votre jardin et favoriser un jardinage durable.</p>
                  <a [routerLink]="'/guide-interactif'" class="bg-[#202427] text-[#B7FA61] px-4 py-2 rounded-full mt-2">Accéder aux Conseils</a>
                </div>
              </div>
              <!-- Ajoutez d'autres cartes ici si nécessaire -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
