
 <!DOCTYPE html>
 <html lang="fr">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Page avec Poppins</title>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  

 </head>
<body class="bg-gray-100 mb-5 font-poppins ">
   
     
      
    
 
 
 <!-- Main Content -->
  <div class="container mx-auto mb-4  ">
    <!-- Welcome Section -->
    <div class="main-content p-4">
        <!-- Welcome Section -->
        <div class="mb-4 p-4 bg-[#004D3D] text-white rounded-lg">
            
                <img src="../../../assets/img/logo2.png" alt="Urbanroots_logo" class="w-20 h-15 mb-2 absolute right-8 top-4" />
            
          <h2 class="text-4xl font-thin   ">Bienvenue,</h2>
          <h1 class="text-2xl font-thin">{{ user?.username }}</h1>
        </div>
   

    <!-- Search Bar -->
    <div class="mb-4">
      <div class="relative">
        <input type="text" class="w-full p-2 pl-10 rounded-full bg-white shadow" placeholder="recherche">
        <i class="fas fa-search absolute right-3 top-2.5 text-gray-400"></i>
      </div>
    </div>




    <!-- Cards Section -->
    <div class="space-y-5">
      <div class="bg-[#004D3D] rounded-lg shadow-lg overflow-hidden">
        <img src="/assets/img/Banner.png" alt="Ice Cream" class="w-full">
        <div class="p-4">
          <h2 class="text-lg text-white">Explorez la nature</h2>
          <button (click)="navigateToMap()"  class="bg-[#202427] text-[#B7FA61] px-4 py-2 rounded-full mt-2">Voir</button>
        </div>
      </div>
      <div class="bg-[#004D3D] rounded-lg shadow-lg overflow-hidden">
        <img src="/assets/img/Banner2.png" alt="Ice Cream" class="w-full">
        <div class="p-4">
          <h2 class="text-lg text-white">Découvrez tous les secrets du jardinage</h2>
          <button (click)=" navigateToQuiz()"  class="bg-[#202427] text-[#B7FA61] px-4 py-2 rounded-full mt-2">Voir </button>
        </div>
      </div>
    </div>
  </div>

</div>
</body>

  <app-bottom-bar></app-bottom-bar>